.main {
    text-align: center;
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .row {
    display: flex;
  }
  
  .cellx {
    min-width: 20px;
    min-height: 20px;
    border: 1px solid black;
    background-color: lightgray;
    transition: 0.3s;
  }
  
  .cellx:hover{
    min-width: 50px;
    min-height: 50px;
  }